<h2>Endereço de Entrega</h2>

<?php echo $this->Form->create('Order', array('action' => 'step_address', 'data-ajax' => 'false'));  ?>
	Digite o endereço de entrega:<br>

	<?php if( $this->Session->read('CartDetails') ){
		$details = $this->Session->read('CartDetails');
	}
	?>
	<textarea name="data[comment]"><?php echo @$details['comment'] ?></textarea>
<?php echo $this->Form->end(__('Submit')); ?>