@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body{ font-family: 'Source Sans Pro', Arial, Verdana, 'Times New Roman' }

#header{background: #004C99; height: 18px; } 
#header h1{ float:left; }

#menu{ float:right; margin:0; padding:0; }
#menu li{ float:left; list-style: none; margin:0; padding:0; }
#menu li a{ display:block; color:#fff; font-weight: normal; padding:0 10px 10px; min-width: 120px; }
#menu li ul{ margin:0; padding:0; position: absolute; background:#337CC5; display: none; 
	border-radius:0 0 5px 5px; box-shadow:0 3px 3px #aaa; min-width:120px; }
#menu li ul li{ float:none; }
#menu li ul li a{ padding:7px 10px; text-decoration: none }
#menu li ul li a:hover{ background:#438DD8; }

.related{ padding-left:20px; }