/***** MAIN NAVBAR *****/
.ui-navbar{ box-shadow: 0 0 10px #888 }
#user-info{ position: absolute; left:6px; top:6px; }
#user-info .user-avatar{ width:30px; height:30px; vertical-align: middle; border-radius: 3px }
#user-info .user-displayName{ font-size:0.9em; }

/***** OFFERS LIST *****/
.offers-list{ overflow:hidden }
.offers-list .item{ float:left; margin-right: 10px; width:30%; }
.offers-list .item:last-child{ margin-right: 0 }
.offers-list .item a{ text-decoration: none }
.offers-list .item a:hover{ color:black; }
.offers-list .item img{ float:left; margin-right: 5px; border-radius: 5px; box-shadow: 0 2px 2px silver }
.offers-list .item .name{ font-weight: bold; display: block; float: left }
.offers-list .item .price{ font-weight: normal; color:#000; display: block; float: left }
.offers-list .item a:hover .price{ text-decoration: underline }

/***** ACTIVITY LIST *****/
.activity-list{ font-size: 14px }
.activity-list .item { padding-bottom: 5px; clear:both; }
.activity-list .item a{ text-decoration: none }
.activity-list .item a:hover{ color:black; }
.activity-list .item .user-avatar{ float:left; margin-right: 10px; border-radius: 5px }
.activity-list .item .date{ font-size:12px; font-weight: bold; display: block; }

/***** COMMON *****/
.small{ font-size:13px; }
.mt0{ margin-top:0; }
h2, h3, h4{ margin:0 0 10px; }

/***** MAPA *****/
#mapa{ height:320px; border:1px solid silver; box-shadow: 0 2px 10px #444 }

/***** NOTIFICACOES *****/
#flashMessage{ display: none }

/***** DETALHE DE PRODUTO / RESTAURANTE *****/
.view{ font-size: 0.9em }
.view dt{ clear:left; width:60px; text-align: right; font-weight: bold; float:left; 
	margin:0 10px 0 0; line-height: 25px }
.view dd{ float:left; margin:0; line-height: 25px}
.view dl{ overflow: hidden; font-size: 0.9em; margin:10px 0; }

.view .photo{ float: left; margin-right: 15px }
.view .photo img{ border-radius: 5px; box-shadow: 0 2px 2px silver }
.products.view .name, .products.view .description, .products.view .price{ margin: 10px 0 }

/***** ABAS *****/
/*.no-shadow{ box-shadow: none }*/
.tab-content{ border:1px dotted silver; margin:0 5px; padding:25px; background:#fff;  }

.comment{ font-size:0.8em; border-radius:10px; border:1px dashed black; padding:10px; margin-bottom:10px; }
.comment em{ color:#888; }

/***** FORM OPINIÂO *****/
.view #RestaurantReviewViewForm{ margin:5px; }

/***** SHARE *****/
.share-box{ padding-bottom:20px; }
.finger{ text-decoration: none }
.finger:hover{ text-decoration: underline }
.finger img{ vertical-align: middle }
.finger .count{ background:#fff; border:1px solid #bbb; border-radius:3px; position: relative; zoom:1; 
	vertical-align: middle; padding:3px; font-size:11px; margin-right: 10px; color:#000; }