<div class="comment" style="display:none">
	<strong><?php echo $restaurantReview['User']['name']; ?></strong> disse:
	"<?php echo $restaurantReview['RestaurantReview']['body']; ?>" - 
	<em>agora</em>
</div>
<script type="text/javascript">
$('#RestaurantReviewViewForm')[0].reset();
$('.comment:first').slideDown();
</script>