<div class="restaurantRatings form">
<?php echo $this->Form->create('RestaurantRating'); ?>
	<fieldset>
		<legend><?php echo __('Admin Edit Restaurant Rating'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('restaurant_id');
		echo $this->Form->input('user_id');
		echo $this->Form->input('likes');
		echo $this->Form->input('dislikes');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('RestaurantRating.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('RestaurantRating.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Restaurant Ratings'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Restaurants'), array('controller' => 'restaurants', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Restaurant'), array('controller' => 'restaurants', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
