<div class="restaurantRatings index">
	<h2><?php echo __('Restaurant Ratings'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('restaurant_id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('likes'); ?></th>
			<th><?php echo $this->Paginator->sort('dislikes'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($restaurantRatings as $restaurantRating): ?>
	<tr>
		<td><?php echo h($restaurantRating['RestaurantRating']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($restaurantRating['Restaurant']['name'], array('controller' => 'restaurants', 'action' => 'view', $restaurantRating['Restaurant']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($restaurantRating['User']['name'], array('controller' => 'users', 'action' => 'view', $restaurantRating['User']['id'])); ?>
		</td>
		<td><?php echo h($restaurantRating['RestaurantRating']['likes']); ?>&nbsp;</td>
		<td><?php echo h($restaurantRating['RestaurantRating']['dislikes']); ?>&nbsp;</td>
		<td><?php echo h($restaurantRating['RestaurantRating']['created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $restaurantRating['RestaurantRating']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $restaurantRating['RestaurantRating']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $restaurantRating['RestaurantRating']['id']), null, __('Are you sure you want to delete # %s?', $restaurantRating['RestaurantRating']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Restaurant Rating'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Restaurants'), array('controller' => 'restaurants', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Restaurant'), array('controller' => 'restaurants', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
