<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo __($title_for_layout); ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		echo $this->Html->css( array('cake.generic', 'jquery.fancybox', 'admin') );

		echo $this->fetch('meta');
		echo $this->fetch('css');

		echo $this->Html->script( array('jquery', 'jquery.fancybox', 'admin') ); 
		echo $this->fetch('script');
	?>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Administração do FaceFood</h1>
			<?php echo $this->element('admin/menu'); ?>
		</div>
		<div id="content">
			<?php echo $this->Session->flash(); ?>
			<?php echo $this->fetch('content'); ?>
		</div>
	</div>
	<?php echo $this->element('sql_dump'); ?>
</body>
</html>
