<fieldset>
	<legend>Hybridauth demo</legend><br><Br>

	&nbsp;<a href="<?php echo $this->base ?>/social/login/twitter" data-ajax="false">Sign-in with Twitter</a><br />   
	&nbsp;<a href="<?php echo $this->base ?>/social/login/facebook" data-ajax="false">Sign-in with Facebook</a><br />

	<?php 
	debug($hybridauth_session_data);
	?>
	
</fieldset> 