<div data-role="content">
	<h3 class="mt0">Tipos de Cozinha</h3>
	<br>
	<ul data-role="listview">
		<li><a href="index.html">Alemã</a></li>
		<li><a href="index.html">Árabe</a></li>
		<li><a href="index.html">Brasileira</a></li>
		<li><a href="index.html">Chinesa</a></li>
		<li><a href="index.html">Japonesa</a></li>
		<li><a href="index.html">Mexicana</a></li>
		<li><a href="index.html">Mineira</a></li>
		<li><a href="index.html">Nordestina</a></li>
	</ul>
</div>